$primary-color: #12536c;
$sticky-header: #f3f3f3;
$highlighter: #d33f28;
$text-color: #000;
$text-rev: #fff;
$primary-dark: #12536c;

.heading {
	// background: coral;
	padding: 1rem;
	position: relative;
	margin-bottom: 50px;
	font-size: 4rem;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		border-bottom: 5px solid $highlighter;
		width: 100%;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		letter-spacing: 3px;
		text-transform: uppercase;
		color: $primary-color;
	}
}
