.main-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 100vw;
  padding: 0 10vh;
  color:  $highlighter;
  z-index: 99;
  transition: 0.4s ease-out;

  .logo {
    // border: 1px solid #fff;
    border-radius: 10px 0;
    padding: 7px;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a:last-child {
      display: none;;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }

  .nav-links {
    display: flex;
    list-style: none;

    .nav-link {
      transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.4s;
      }
      a {
        margin: 0.2rem;
        padding: 1rem 0.5rem;
        font-weight: 600;
        letter-spacing: 2px;

        &:hover {
          background: rgba($text-rev, 0.5);
        }
      }
    }
  }

  .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 100;
    display: none;

    &_line {
      display: block;
      position: relative;
      background: $text-color;
      height: 2px;
      width: 20px;
      border-radius: 4px;
      transition: background 0.8s ease;

      &::before,
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        background: $text-color;
        transition: background 0.8s ease;
      }
      &::before {
        transform: translateY(-5px);
      }
      &::after {
        transform: translateY(5px);
      }
    }
  }
  .menu-btn {
    // display: none;
    position: absolute;
    top: -100px;

    &:focus ~ .menu-icon {
      .menu-icon_line {
        &::before {
          transform: translateY(-7px);
        }
        &::after {
          transform: translateY(7px);
        }
      }
    }
  }

  &.scrolled {
    height: 65px;
    // background: rgba(0, 115, 188, 0.9);
    background: rgba($sticky-header, 0.9);
    // color: $primary-color;
    .logo {
      a:first-child {
        display: none;
      }
      a:last-child {
        display: initial;
      }
    }
    .menu-icon {
      &_line,
      &_line::before,
      &_line::after {
        background: $text-color;
      }
    }
  }
}
