@media screen and (max-width: 767px) {
  .main-wrapper {
    max-width: 100vw;
    box-sizing: border-box;
  }
  .main-header {
    .menu-icon {
      display: block;

      &_line {
        animation: closedMid 0.8s backwards;
        animation-direction: reverse;

        &::before {
          animation: closedTop 0.8s backwards;
          animation-direction: reverse;
        }
        &::after {
          animation: closedBtm 0.8s backwards;
          animation-direction: reverse;
        }
      }
    }
    .nav-links {
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 40vw;
      height: 92vh;
      font-size: 1.2rem;
      color: #ffffff;
      background: rgba($primary-color, 0.9);
      transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
      clip-path: circle(200px at top right);

      .nav-link {
        opacity: 0;
        transform: translateX(100%);
        width: 100%;
        text-align: center;
      }

      a {
        display: block;
        padding: 2rem 0;
      }
    }

    .menu-btn:checked ~ .nav-links {
      opacity: 1;
      clip-path: circle(100% at center);

      .nav-link {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out, transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:nth-of-type(1) {
          transition-delay: 0.7s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.8s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.9s;
        }
        &:nth-of-type(4) {
          transition-delay: 1s;
        }
        &:nth-of-type(5) {
          transition-delay: 1.1s;
        }
      }
    }

    .menu-btn:checked ~ .menu-icon {
      border-radius: 50%;
      // background: transparent;
      animation: pulse 1s;

      .menu-icon_line {
        background: $text-rev;
        animation: openMid 0.8s forwards;

        &::before {
          background: $text-rev;
          animation: openTop 0.8s forwards;
        }

        &::after {
          background: $text-rev;
          animation: openBtm 0.8s forwards;
        }
      }
    }
  }

  .hero h1 {
    font-size: 2rem;
  }
  .heading {
    h1 {
      font-size: 2rem;
      text-align: center;
    }
  }
  .services {
    .new-item {
      //   box-sizing: border-box;
      //   display: flex;
      //   flex-direction: column;
      p {
        padding: 15px 5px;
        font-size: 0.8rem;
        font-weight: 400;
      }
    }
  }
  .about {
    padding: 5vh 2vh;

    .about-content-wrapper {
      background: rgba(0, 0, 0, 0.7);

      .heading {
        &::after {
          left: 40%;
          width: 20%;
        }
      }
    }
  }
  .contact-banner {
    h3 {
      font-size: 2rem;
    }
  }
  .pricing {
    .price-content-wrapper {
      padding: 10vh 5vh;

      .content {
        ul {
          li {
            p {
              font-size: 1rem;
              font-weight: 600;
            }
            i {
              color: $primary-color;
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  .contact {
    .contact-content-wrapper {
      .heading {
        // background: coral;

        &::after {
          left: 40%;
          bottom: 0;

          width: 20%;
        }
        h1 {
          color: #fff;
        }
      }
    }
  }

  .area-cover {
    .heading {
      &::after {
        left: 40%;
        width: 20%;
      }
    }
    .tabs .tab a {
      font-size: 14px;
    }
    .flex-item {
      min-width: 50%;
    }
  }

  .footer {
    padding: 1vh;
    color: #fff;
    // display: grid;

    .row {
      margin: 5px;
      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .copy {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin-bottom: 53px;
    // background: red;
  }
}

// @media (max-width: 601px) { 

//  }
@media screen and (max-width: 450px) {
  .contact-banner {
    h3 {
      font-size: 1.3rem;
    }
  }
}
