[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: $highlighter;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid $highlighter;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span,
[type="checkbox"] + span:not(.lever) {
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: rgb(82, 80, 80);
}
// [type="checkbox"]+span:not(.lever){
//     line-height: 1.7rem;
//     font-size: 1.2rem;
//     color: #000;
// }

[type="checkbox"]:checked + span:not(.lever):before {
  border-right: 2px solid $highlighter;
  border-bottom: 2px solid $highlighter;
}

.hide {
  display: none;
  // transition: display;
  // transition-duration: 2s;
  // transition-delay: 1s;
}
.show {
  display: block;
}

.modal{
  background-color: aliceblue;
  max-height: 80%;

  .modal-footer{
    background-color: $primary-color;

    button{
      background-color: aliceblue;
      border-radius: 5px 0;

      i{
        color: $highlighter;
        font-size: 2rem;
      }
    }
  }
}

.modal-content {

  // transition: hide 2s;

  h5{
    font-weight: 700;
  }
  p {
    line-height: 2rem;
  }
  .quote-engine-wrapper{
    button{
      border-radius: 7px 0;
      margin-top: 10px;
      font-weight: 400;
    }
    .last{

      .row{
        margin-bottom: 10px;
        .input-field {
     
          margin-top: 0.4rem;
          margin-bottom: 0.4rem;

          label{
            span{
              font-size: 0.9rem
            }
          }
        }
      }

    }

    
    .submit{
      input{
        background: $highlighter;
        margin-top: 10px;
        padding: 10px;
        font-size: 1.1rem;
        border: none;
        color: $text-rev;
        text-transform: uppercase;
      }
    }
  }
  
}
