.page-header {
	height: 30vh;
	background: linear-gradient(rgba($text-rev, 0.6), rgba($primary-color, 0.5)),
		url('../img/hero1.jpg') no-repeat top;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 0 10vw;
	color: $highlighter;
	h3 {
		font-weight: 700;
	}
}

.privacy {
	margin-top: 30px;

	ul {
		list-style: initial;
		margin-left: 20px;
		li {
			list-style-type: square;
		}
	}

	strong {
		font-weight: 600;
	}
}
