@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "global";
@import "header";
@import "hero";
@import "services";
@import "about";
@import "cont-banner";
@import "price";
@import "safety-logo";
@import "areas";
@import "contact";
@import "footer";
@import "stickyMobile";
@import "page-header";
@import "media";
@import "animations";
@import "modal";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  // background: #BDCCD3;
}

.owl-carousel {
  z-index: 0;
}

.main-wrapper {
  max-width: 100vw;
  box-sizing: border-box;
}

// input.valid:not([type]),
// input.valid:not([type]):focus,
// input.valid[type="text"]:not(.browser-default),
// input.valid[type="text"]:not(.browser-default):focus,
// input.valid[type="password"]:not(.browser-default),
// input.valid[type="password"]:not(.browser-default):focus,
// input.valid[type="email"]:not(.browser-default),
// input.valid[type="email"]:not(.browser-default):focus,
// input.valid[type="url"]:not(.browser-default),
// input.valid[type="url"]:not(.browser-default):focus,
// input.valid[type="time"]:not(.browser-default),
// input.valid[type="time"]:not(.browser-default):focus,
// input.valid[type="date"]:not(.browser-default),
// input.valid[type="date"]:not(.browser-default):focus,
// input.valid[type="datetime"]:not(.browser-default),
// input.valid[type="datetime"]:not(.browser-default):focus,
// input.valid[type="datetime-local"]:not(.browser-default),
// input.valid[type="datetime-local"]:not(.browser-default):focus,
// input.valid[type="tel"]:not(.browser-default),
// input.valid[type="tel"]:not(.browser-default):focus,
// input.valid[type="number"]:not(.browser-default),
// input.valid[type="number"]:not(.browser-default):focus,
// input.valid[type="search"]:not(.browser-default),
// input.valid[type="search"]:not(.browser-default):focus,
// textarea.materialize-textarea.valid,
// textarea.materialize-textarea.valid:focus,
// .select-wrapper.valid > input.select-dropdown {
//   border-bottom: 1px solid $primary-color !important;
//   box-shadow: 0 1px 0 0 $primary-color !important;
// }

// input:not([type]):focus.valid ~ label,
// input[type="text"]:not(.browser-default):focus.valid ~ label,
// input[type="password"]:not(.browser-default):focus.valid ~ label,
// input[type="email"]:not(.browser-default):focus.valid ~ label,
// input[type="url"]:not(.browser-default):focus.valid ~ label,
// input[type="time"]:not(.browser-default):focus.valid ~ label,
// input[type="date"]:not(.browser-default):focus.valid ~ label,
// input[type="datetime"]:not(.browser-default):focus.valid ~ label,
// input[type="datetime-local"]:not(.browser-default):focus.valid ~ label,
// input[type="tel"]:not(.browser-default):focus.valid ~ label,
// input[type="number"]:not(.browser-default):focus.valid ~ label,
// input[type="search"]:not(.browser-default):focus.valid ~ label,
// textarea.materialize-textarea:focus.valid ~ label {
//   color: $primary-color;
// }
